@import "tailwindcss";

@import "./styles/typography.css";

@theme {
  --color-white: #ffffff;
  --color-gray-50: #f0f4f7;
  --color-gray-100: #f1f1f2;
  --color-gray-200: #e6ebf0;
  --color-gray-300: #ced6de;
  --color-gray-500: #575757;
  --color-gray-600: #525963;
  --color-gray-700: #484848;
  --color-gray-900: #1f1f1f;
  --color-gray-950: #0b0d10;
  --color-slate-500: #6f7882;
  --color-purple-600: #4e2fd2;
  --color-blue-50: #edf4ff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Gilroy", sans-serif;
  color: var(--color-gray-950);
}
